__pycache__/
.venv/
.env
.pytest_cache/
.git/
groupement.db
debug.log
*.pyc
*.pyo
*.pyd
env/
build/
dist/
/.venv
__pycache__
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
.dockerignore
Dockerfile
.docker
.gitignore
README.md
.vscode
.idea
__pycache__/
*.sqlite
*.db
debug.log